include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include magnet_control *
recursive-exclude magnet_control *.pyc
recursive-exclude magnet_control *.o
